@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

:root {
  --color-green-dark: #004338;
  --color-green: #006761;
  --color-green-light: #00a081;
  --color-secondary: #77cd68;
  --color-blue-dark: #002b3f;
  --color-blue: #005b79;
  --color-blue-light: #0495a2;
  --color-accent-light: #6fdaeb;
  --color-accent-dark: #6c0634;
  --color-red: #ff6669;
  --color-red-light: #ffa4a9;
  --color-red-lighter: #ffcdcd;
  --color-yellow: #ecc652;
  --color-yellow-dark: #fa8522;
  --color-site-yellow: #ebd699;
  --color-background: #fffaf9;
  --color-background-light: #f6efea;
  font-family: 'Noto Sans', 'Noto Serif';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
