.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 248, 239, 0.5), rgba(0, 0, 0, 0.2)),
      url('/assets/210528_Bonas_03.jpg') center/cover no-repeat;
}
